body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  background: linear-gradient(135deg, #fdbb2d, #22c1c3);
  color: #fff;
  min-height: 100vh;
}
.home h1 {
  position: relative;
  font-size: 50px;
  color: #000;
  font-family: "Pacifico", serif;
}
.home h1::before {
  content: "";
  position: absolute;
  width: 260px;
  height: 15px;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  background-color: #fdbb2db7;
  transition: all 1s;
}
.home label i{
    color: #000;
}
.home label{
    font-size: 20px;
}
.home h1:hover::before {
  height: 30px;
}
.home p {
  font-size: 25px;
}
.home p i {
  color: #fdbb2d;
}

.home button {
  border: 2px solid #fdbb2d;
}
.home button:hover {
  background-color: rgba(29, 161, 35, 0.464);
}
table thead th {
  background-color: #22c0c365 !important;
}
.btn2 {
  color: #fff;
  background-color: rgb(184, 9, 9);
  text-align: center;
}
.btn2:hover {
  color: #fff;

  background-color: red;
}

td a{
    color: #fff !important;
    background-color:rgb(5, 185, 5) !important;
    text-align: center;
}
td a:hover{
    background-color: green !important;
}

hr{
  border: none;
  border-top: 2px dotted black;
  height: 1px;
  margin: 20px 0;
}
.text-site{
  font-size: 12px !important;
  font-weight:normal !important;
  background-color: red;
  padding-left: 10px;
  padding-block: 7px;
  border-radius: 10px;
}
.text-url{
  font-size: 12px !important;
  font-weight:normal !important;
  background-color: red;
  padding-left: 10px;
  padding-block: 7px;
  border-radius: 10px;
}